body {
	background: teal;
	padding: 15px;
	border-bottom: px solid gray;
	font-family: Arial;
}

h1 {
	margin: 15px 0;
}

input {
	padding: 10px;
	font: 20px;
}

.results li {
	padding: 15px;
	border-bottom: 1px solid black;
}