 Reset */
/* ------------------------ */
* {
	margin: 0;
	padding: 0;	
}

p {

}


/* Layout */
/* ------------------------ */
body {
	background-color: #000000;
	color: #ffffff;
}

header {
	text-align: center;
}

/*H1 Sarah Burns*/

h1 { 
	text-align: center;
	padding-bottom: 5px;
	
}

h2 {
	text-align: center;
}

ul {
	text-align: center;
}


.title {font-size: 36px;
}
li {display: inline;
	font-weight: bold;
}

main {
	border-top: 1 px solid #878787
	border-bottom: 1 px solid #878787;
	padding-top: 20px;
	padding-bottom: 20px;

	/* shorthand */
	padding: 20px 0;
	margin: 20px 0;

	overflow: hidden;

}

/* Headings */
/* ------------------------ */

h1, li,
{
	font-family: Arial;
}

/* Navigation Lists */
/* ------------------------ */



/* Links */
/* ------------------------ */
a {color: #fa8072;
}



/* About Me page */
/* ------------------------ */
img {
	float: right;
	padding: 10px;
	border: 2px solid #fa8072;
	margin-left: 10px;
	margin-bottom: 20px

}


/* Resume page */
/* ------------------------ */



/* Resume page - Experience */
/* ------------------------ 