/* Reset */
/* ------------------------ */
* {
	margin: 0;
	padding: 0;	
}

p {

}


/* Layout */
/* ------------------------ */
body {
	background-color: #888888;
	color: #FFFFFF;

	padding: 15 px solid #878787;
	border: 5px solid #878787;
	margin: 30 px;
}

header {
	text-align: center;
}

h1 { 
	text-align: center;
	
}


footer {
	text-align: center;
}

.title {font-size: 36px;
}
li {display: inline;
	font-weight: bold;
}

main {
	border-top: 1 px solid #878787
	border-bottom: 1 px solid #878787;
	padding-top: 20px;
	padding-bottom: 20px;

	/* shorthand */
	padding: 20px 0;
	margin: 20px 0;

	overflow: hidden;

}

/* Headings */
/* ------------------------ */

h1, li
{
	font-family: Arial;
}

/* Navigation Lists */
/* ------------------------ */



/* Links */
/* ------------------------ */
a {color: #23D39E;
}



/* About Me page */
/* ------------------------ */
img {
	float: right;
	padding: 5px;
	border: 1px solid #878787 ;
	margin-left: 10px;
	margin-bottom: 20px

}


/* Resume page */
/* ------------------------ */



/* Resume page - Experience */
/* ------------------------ */