/*HOME PAGE CSS*/

body {
	background: mediumaquamarine;
	font-family: Arial;
	color: black;
}

/*Top Section - Navigation*/

header {
	padding-bottom: 10px;
}

h1 {
	padding-bottom: 16px;
	text-align: center;

}

.tag-line {
	padding-bottom: 16px;
	text-align: center;
}

.tag-line2 {
	text-align: center;
	margin-bottom: 20px;
}

.top-links {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	margin-bottom: 20px;

}

.top-links li {
	margin-right: 20px;
}


.top-links li a {
	color: mintcream;

	}

/*Top Section - Search Bar*/

input {
	display: block;
	margin: auto;
	width: 200px;
	height: 20px;
	text-align: center;
	margin-bottom: 40px;
	background: mintcream;
	border: 1px solid mintcream;
	padding: 16px;
	font-size: 24px;
}

/*Featured Products*/

h2 {
	text-align: center;
	margin-bottom: 40px;
}

.products {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
}

.products img {
	width: 200px;
	border: 1px solid slategray;
	}

/*Footer Links*/

.footer-links {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	margin-top: 40px;
}

/*PRODUCT PAGE CSS*/

.product-image img {
	width: 400px;
}

.product-container {
	display: flex;
	justify-content: center;
}

.features {
	width: 400px;
	padding: 40px;
	text-align: center;

}

.features ul {
	list-style: square;
	background-color: gray;
	text-align: left;
}

.cart-selection {
	display: flex;
	justify-content: flex-end;
	margin: 20px auto 0;
}

.select-buttons {

}


