/* Reset */
/* ------------------------ */
* {
	margin: 0;
	padding: 0;	
}

p {
	line-height: 1.5;
	margin-bottom: 15px;
}


/* Layout */
/* ------------------------ */
body {background-color: #444444;
color: #FFFFFF;
}

header {
	text-align: center;
}

.title {font-size: 36px;
}
li {display: inline;
}

/* Headings */
/* ------------------------ */



/* Navigation Lists */
/* ------------------------ */



/* Links */
/* ------------------------ */
a {color: #23D39E;
}



/* About Me page */
/* ------------------------ */



/* Resume page */
/* ------------------------ */



/* Resume page - Experience */
/* ------------------------ */
