/*Color Switcher*/
body {
	background: thistle;
}

.coral {
	background: coral;
}

.aliceblue {
	background: aliceblue;
}

.rebeccapurple {
	background: rebeccapurple;
}

.lightseagreen {
	background: lightseagreen;
}